:root {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background-color: aqua;
}

#open-button {
    margin: 5px;
    border-radius: 10px;
    background-color: lightskyblue;
    border: none;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
}

nav {
    width: 25vw;
    border: 1px solid darkblue;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: none;
    background-color: lightskyblue;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

nav button, nav ul li {
    width: 100%;
    border: 1px solid darkblue;
    border-radius: 20px;
}

nav button {
    background-color: #FC1414;
    font-weight: bolder;
    font-size: 1.1rem;
    height: 60px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    text-align: center;
    background-color: skyblue;
    height: 60px;
    padding-top: 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    text-decoration: none;
    color: aqua;
    transition: all 0.4s;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

header {
    background-color: aqua;
}

.img {
    background-image: url(https://static.hrstandard.pl/files/uploads/2016/09/maly-ksiaze-hr.jpg);
    height: 400px;
    background-size: cover;
    background-position: bottom;
}

p {
    text-align: justify;
    padding: auto;
    padding: 0 5% 0 5%;
    font-size: 1.15rem;
}

p.small {
    font-size: 1rem;
    padding: 0 5% 0 5%;
    margin-top: 2px;
}

p.before-small {
    margin-bottom: 2px;
}